RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
php_value post_max_size 20M
php_value upload_max_filesize 20M
php_value max_input_vars 10000

<Files ~ "\.(env|env.example|gitignore)$">
order allow,deny
deny from all
</Files>
